In [1]:
import pandas as pd
import numpy as np

## Задание 1
Скачайте с [сайта](https://grouplens.org/datasets/movielens/) датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [2]:
ratings_movies = pd.read_csv('./Data/ratings.csv')

In [3]:
ratings_movies.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
count_five_start_movies = pd.DataFrame(
    ratings_movies[ratings_movies['rating'] == 5]
    .groupby('movieId')
    .count()['rating']
)

In [5]:
film_with_higest_number_of_max_ratings = count_five_start_movies[
    count_five_start_movies['rating'] == count_five_start_movies['rating'].max()]

In [6]:
film_with_higest_number_of_max_ratings

         rating
movieId
318         153

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [7]:
power_of_country = pd.read_csv('./Data/power.csv')

In [8]:
power_of_country.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [9]:
unique_country = pd.DataFrame(power_of_country['country']).sort_values(by='country')['country'].unique() 
# Latvia, Lithuania, Estonia

In [23]:
country = power_of_country[power_of_country['country'].isin(['Latvia', 'Estonia', 'Lithuania'])]
category = country[country['category'].isin([4, 12, 21])]
year = category[(category['year'] >= 2005) & (category['year'] <= 2010)]
final_df = year[year['quantity'] >= 0]

total_electricity = np.sum(final_df['quantity'])

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.
Примеры страниц:

* https://fortrader.org/quotes;
* www.finanz.ru...om-vremeni.

In [25]:
df = pd.read_html('https://fortrader.org/quotes', encoding='utf-8')