In [180]:
import pandas as pd
import re
import numpy as np

## Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

* если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
* для источников paid и email из России ставим ad;
* для источников paid и email не из России ставим other;
* все остальные варианты берём из traffic_source без изменений.

In [181]:
log = pd.read_csv('./Data/visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [182]:
def source_type_value(df):
    if (df['traffic_source'] in 'yandex') or (df['traffic_source'] in 'google'):
        return 'organic'
    elif ((df['traffic_source'] in 'yandex') or (df['traffic_source'] in 'google')) and (df['region'] == 'Russia'):
        return 'ad'
    elif ((df['traffic_source'] in 'yandex') or (df['traffic_source'] in 'google')) and (df['region'] != 'Russia'):
        return 'other'
    else:
        return df['traffic_source']

In [183]:
log['traffic_type'] = log.apply(source_type_value, axis=1)

## Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. 

Выполните действия:

* Прочитайте содержимое файла с датафрейм.
* Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [184]:
urls = pd.read_csv('./Data/URLs.txt')
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [185]:
urls[urls['url'].str.contains(pat=r'/\w+/\d{8}-', regex=True)]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[82 rows x 1 columns]

## Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [186]:
ratings = pd.read_csv('./Data/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [187]:
# создание копии столбца timestamp, чтобы в далее избавиться от мульти-индекса 
ratings['timestamp_copy'] = ratings['timestamp']

In [188]:
"""
Группировка по пользователю, подсчёт количества оценок, 
минимальное и максимальное время.
Фильтрация по условию, что рейтинг больше 100
"""
user_group_by_rating = ratings.groupby('userId').agg({
    'rating': 'count', 
    'timestamp': 'max',
    'timestamp_copy': 'min'}).query('rating > 100')

In [189]:
# Размах
user_group_by_rating['scope'] = user_group_by_rating['timestamp'] - user_group_by_rating['timestamp_copy']

In [190]:
# Удаление не нужных столбцов и подсчёт среднего значения жизни пользователя.
user_group_by_rating = user_group_by_rating.drop(['timestamp', 'timestamp_copy'], axis=1)
mean_time_life = int(np.mean(user_group_by_rating['scope']))

## Задание 4
Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

Нужно сформировать две таблицы:

* таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
* аналогичную таблицу по типам выручки с указанием адреса клиента.
* Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [191]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

In [192]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [193]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [194]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [195]:
revenue_types = pd.DataFrame(client_base['client_id']) \
    .merge(rzd, how='left', on='client_id') \
    .merge(auto, how='left', on='client_id') \
    .merge(air, how='left', on='client_id').fillna(0)

In [196]:
revenue_types_with_adress = client_base \
    .merge(rzd, how='left', on='client_id') \
    .merge(auto, how='left', on='client_id') \
    .merge(air, how='left', on='client_id').fillna(0)